@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

@import 'tailwindcss';

@theme {
  --font-funnel: 'Funnel Display', sans-serif;
}

@layer base
{
  *
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html
  {
    width: 100%;
    height: 100dvh;
  }
  
  body
  {
    width: 100%;
    height: 100dvh;
  }
  
  #root
  {
    color: white;
    width: 100%;
    height: 100dvh;
  }
}